.cko {
    &-item {
        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
            transform: translateX(-50%) translateY(-50%);
            filter: 0;
            color: inherit;
            transition: padding 0.5s;
        }
        &__image {
            transition: width 0.5s, height 0.6s, opacity 0.5s;
            position: relative;
            width: 100%;
            margin: 0 auto;
            height: 150px;
            opacity: 0;
            background-color: $primary;
            background-size: cover;
            background-position: center;
        }
        transition: color 0.5s, letter-spacing 0.3s;
        height: 150px;
        text-align: center;
        border: 1px solid darken($light, 2);
        background-color: $light;
        color: $black;
        position: relative;
        font-size: 40px;
        background-size: cover;
        background-position: center;
        font-weight: 600;
        display: flex;
        align-items: center;
        &:hover {
            color: $background;
            letter-spacing: 10px;
            & > .cko-item__image {
                opacity: 1;
                height: 150px;
                width: 100%;
                filter: blur(2px);
            }
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &-con {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}
.web {
    &-con {
    }
    &-list {
        display: flex;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;600;700&display=swap');
