@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800,700,600,500&display=swap');
$terminalHeight: 400px;
.terminal {
    &-line {
        &__command {
            color: $background;
            margin-top: 1px;
        }
        &__result {
            color: $background;
            font-weight: 400;
        }
    }
    &-green {
        color: greenyellow;
        color: $light;
    }
    &-purple {
        color: darken(#0f0, 1);

        color: $light;
    }
    &-con {
        background-color: darken($black, 8);

        color: white;
        margin: 50px 100px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        font-family: 'Nunito';
        transition: margin 0.5s;
        font-weight: 500;

        &__full {
            & > .terminal-body {
                height: $terminalHeight + 100px;
            }
            margin: 0;
        }
    }
    &-header {
        // background-color: $secondary;
        background-color: #2f2f2f;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &__button {
            & > i {
                display: block;
                line-height: 1;
                margin: 0;
            }
            padding: 0px;
            display: flex;
            border-radius: 1000px;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 5px;
            font-size: 7.5px;
            width: 15px;
            height: 15px;
            color: black;
            user-select: none;
            cursor: pointer;
            &s {
                padding: 5px;
                display: flex;
                width: fit-content;
                justify-content: center;
                align-items: center;
            }
        }
        &__close {
            background-color: #fd635a;
            &:hover {
                background-color: darken(#fd635a, 15);
            }
            & > i {
                transform: translateX(0.25px) translateY(1px) scale(1.1);
            }
        }
        &__minimize {
            background-color: #fdbd3f;
            &:hover {
                background-color: darken(#fdbd3f, 15);
            }
            & > i {
                transform: translateX(0px) translateY(1px);
            }
        }
        &__fullscreen {
            background-color: #34c949;
            &:hover {
                background-color: darken(#34c949, 15);
            }
            & > i {
                transform: translateX(0px) translateY(0px);
            }
        }
    }
    &-body {
        overflow-y: auto;
        box-shadow: 0 0px 20px 8px rgba(black, 0.4);
        & ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #555;
            border-radius: 0;
        }

        transition: height 0.5s, padding 1s;
        line-height: 1.5;
        height: $terminalHeight;
        padding: 10px;
        border-bottom-left-radius: 0;

        &__closed {
            height: 0 !important;
            overflow-y: hidden;
            padding-top: 0px !important ;
            padding-bottom: 0px !important ;
        }
    }
}
