.home {
    &-project {
        &__con {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__year {
            font-weight: 600;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-feature-settings: 'tnum';
            font-size: 24px;

            font-family: 'Raleway';
            font-variant-numeric: tabular-nums;

            margin-left: 15px;
            line-height: 1;
        }
        margin: 25px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0 10px 20px 8px rgba(black, 0.1);
        transition: box-shadow 200ms ease, transform 200ms ease;

        &:hover {
            box-shadow: 0 5px 5px 1px rgba(black, 0.3);
            transform: rotateZ(2deg);
            cursor: pointer;
        }

        &__text {
            text-align: center;
        }
        &__image {
            &con {
                height: 125px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            width: 100px;
        }
    }
    &-title {
        font-size: 50px;
        line-height: 1.4;
        font-family: 800;
        font-family: 'Raleway';
        margin-bottom: 15px;
    }
}
