$psize: 300px;
.ps {
    &-con {
        margin: 10px;
        // border-radius: 25px;
        overflow-x: hidden;
        position: relative;
        width: $psize;
        box-shadow: 0 0px 5px 2px rgba(black, 0.2);
        border: 5px solid $secondary;
        background-color: $secondary;

        &:hover > .ps-arrow {
            &R,
            &L {
                opacity: 1;
            }
        }
    }
    &-images {
        width: $psize;
        background-size: contain;
        height: $psize;
        position: relative;
        display: flex;
        transition: right 0.5s;
    }

    &-image {
        width: $psize;
        background-size: contain;
        height: $psize;
        min-width: $psize;
        min-height: $psize;
        user-select: none;
    }
    &-text {
        background-color: $secondary;
        width: $psize - 10px;
        height: 40px;

        padding: 10px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 600;
        color: #000;
    }
    &-arrow {
        &R,
        &L {
            z-index: 100;
            position: absolute;
            top: 0;
            user-select: none;
            height: $psize;
            width: 30px;
            // background-color: opacify($secondary, 0.5);
            display: flex;
            font-weight: 800;
            font-size: 25px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fff !important;
            & > i {
                color: inherit;
            }
            transition: opacity 1s;
            opacity: 0.6;
        }
        &R {
            left: $psize - 40px;
        }
    }
}
.plant {
    &-con {
        padding-top: 100px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
.hide {
    display: none;
}
