@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

$black: #184d47;
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway';
    color: $black;
}
$primary: #00af91;
$secondary: #74b49b;
$background: #f4f9f4;
$light: #a7d7c5;

$buttontext: 24px;
$buttontextm: 20px;

$bodytext: 30px;
$bodytextm: 25px;
@mixin mobileq {
    @media (max-width: 768px) {
        @content;
    }
}
