@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway';
}
$primary: #5c8d89;
$secondary: #74b49b;
$background: #f4f9f4;
$light: #a7d7c5;
