@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

$black: #222831;
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway';
    color: $black;
}
$primary: #ea2c62;
$secondary: lighten($primary, 35);
$background: #f6f5f5;
$light: #dddddd;

$buttontext: 24px;
$buttontextm: 20px;

$bodytext: 30px;
$bodytextm: 25px;
@mixin mobileq {
    @media (max-width: 768px) {
        @content;
    }
}
h2 {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 50px;
    font-weight: 400;
    color: $black;
    line-height: 1.2;
    margin-bottom: 20px;
}
h3 {
    margin: 0;
    font-family: 'Open Sans';
    line-height: 1.1;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}
a {
    &,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
    }
    color: $primary;
}
